<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020433224250-ketpclcuhp44qd8otqs2q7r91pksjesn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020433224250-ketpclcuhp44qd8otqs2q7r91pksjesn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020433224250-p02sm8cab73ajfe46170mp0lqa14du3u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUcgNImWuElWaWmy_KKsKs5yYKota80k8</string>
	<key>GCM_SENDER_ID</key>
	<string>1020433224250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anaam.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>anaam--app</string>
	<key>STORAGE_BUCKET</key>
	<string>anaam--app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020433224250:ios:3be317276a899109bcdb03</string>
	<key>DATABASE_URL</key>
	<string>https://anaam--app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>